<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>proyecto_willmaca</title>
    <meta name="" content="">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" type="image/jpeg" sizes="150x150" href="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">
    <link rel="icon" type="image/jpeg" sizes="150x150" href="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">
    <link rel="icon" type="image/jpeg" sizes="150x150" href="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">
    <link rel="icon" type="image/jpeg" sizes="150x150" href="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">
    <link rel="icon" type="image/jpeg" sizes="150x150" href="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Background-Image---Parallax---No-Text.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Chat.css">
    <link rel="stylesheet" href="assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="assets/css/Dark-footer-with-social-media-icons.css">
    <link rel="stylesheet" href="assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="assets/css/droplista.css">
    <link rel="stylesheet" href="assets/css/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10-1.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Landing-Page---Parallax-Background---Logo-Heading-ButtonGIF.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic.css">
    <link rel="stylesheet" href="assets/css/mascota.css">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/css/paragrafo_negro.css">
    <link rel="stylesheet" href="assets/css/Parallax-Scroll-Effect.css">
    <link rel="stylesheet" href="assets/css/Parallax-Scrolling-Horizontal-plus-Vertical.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="assets/css/Simple-Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Simple-galeria-de-productos-1.css">
    <link rel="stylesheet" href="assets/css/Simple-galeria-de-productos.css">
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-xl sticky-top textwarning bg-dark bg-gradient text-center text-warning navbar-fixed-top navigation-clean-button" style="background: var(--bs-dark);">
        <div class="container-fluid">
            <div><a class="navbar-brand" href="#"><span class="bounce animated"><img src="assets/img/314932241_3575335546035850_3573432191079918083_n.jpg">WillMaca</span> </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol" id="button_expand"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active border-1 border-secondary" id="background_menu" href="{{route('willmaca.index')}}" style="color: var(--bs-white);text-align: center;font-weight: bold;">Inicio</a></li>
                    <li class="nav-item dropdown border-1 border-secondary" id="background_menu"><a class="dropdown-toggle nav-link fw-bold text-center border rounded border-1 border-secondary shadow-lg" aria-expanded="false" data-bs-toggle="dropdown" id="background_menu" href="#" style="color: var(--bs-white);">Productos</a>
                        <div class="dropdown-menu border-1 border-secondary" id="background_menu"><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.guantes') }}">Guantes</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.tapa_bocas') }}">Tapa Bocas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.botas') }}">Botas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.lentes') }}"></a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.trajes') }}">Trajes de Bio Seguridad</a></div>
                    </li>
                    <li class="nav-item dropdown border-1 border-secondary" id="background_menu"><a class="dropdown-toggle nav-link fw-bold text-center border rounded border-1 border-secondary shadow-lg" aria-expanded="false" data-bs-toggle="dropdown" id="background_menu" href="#" style="color: var(--bs-white);">Listado</a>
                        <div class="dropdown-menu border-1 border-secondary" id="background_menu"><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.listado_guantes') }}">Guantes</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.listado_tapa_bocas') }}">Tapa Bocas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.listado_botas') }}">Botas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.listado_lentes') }}">Lentes</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.listado_trajes') }}">Trajes de Bio Seguridad</a></div>
                    </li>
                    <li class="nav-item dropdown border-1 border-secondary" id="background_menu"><a class="dropdown-toggle nav-link fw-bold text-center border rounded border-1 border-secondary shadow-lg" aria-expanded="false" data-bs-toggle="dropdown" id="background_menu" href="#" style="color: var(--bs-white);">Listado Vue</a>
                        <div class="dropdown-menu border-1 border-secondary" id="background_menu"><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('admin.pruebaVue') }}">Pruebas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.guantes') }}">Guantes</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop-2" href="{{ route('willmaca.tapa_bocas') }}">Tapa Bocas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.botas') }}">Botas</a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop-4" href="{{ route('willmaca.lentes') }}"></a><a class="dropdown-item link-light bg-dark bg-gradient border rounded" id="background_menu_drop" href="{{ route('willmaca.trajes') }}">Trajes de Bio Seguridad</a></div>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link text-center" aria-expanded="true" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="background_menu" href="#">{{ Auth::user()-&gt;name }}</a>
                        <div class="dropdown-menu dropdown-menu-start dropdown-menu-dark show" data-bs-popper="none">
                            <form action="{{ route('willmaca.logout') }}"><input class="form-control" type="text" value="Cerrar Sesión"></form><a class="dropdown-item text-center" href="#">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
                <p class="ms-auto navbar-text actions"> </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="container_marquee" style="padding-right: 0px;padding-left: 0px;">
        <div class="row" style="color: var(--bs-blue);"><div>
<marquee behavior="alternate" bgcolor="#212529" direction="right" style="color: #ffffff; font-size: 20px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;"onmousedown="this.stop()" onmouseup="this.start()">Salmo 127:1= Si Dios no construye la casa, de nada sirve que se esfuercen los constructores.</marquee>
</div></div>
    </div>
    <div class="alert alert-danger text-center alert-dismissible" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h3 class="alert-heading text-capitalize text-center">Mensaje de Error</h3><span class="text-capitalize text-center"><strong>Campo Requerido</strong></span>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span><strong>Mensaje: </strong>Producto Registrado con <strong>¡EXITO!</strong></span></div>
    <div class="container-fluid text-center" id="form_respon">
        <div>
            <form>
                <div class="form-group mb-3">
                    <div id="formdiv">
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 col-xl-5 offset-md-1 text-center">
                                <p class="text-center" id="form_div_p" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Nombre del producto</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" style="margin-left:0px;font-family:Roboto, sans-serif;" name="nombre" placeholder="Ingrese el nombre del producto" value="{{ old('nombre') }}" title="Nombre"></div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                            <div class="col-md-8 col-xl-5 offset-md-1 offset-xl-1 text-center">
                                <p class="text-capitalize text-center" id="form_div_p" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Precio</p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" id="input_marca" style="font-family:Roboto, sans-serif;" name="precio" value="{{ old('precio') }}" placeholder="Ingrese el precio..." title="Precio"></div>
                        </div>
                        <div class="row text-center" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 col-xl-6 offset-md-1 offset-xl-0 text-center">
                                <p class="text-center" id="form_div_p" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Descripción</p>
                            </div>
                            <div class="col-md-10 offset-md-1"><textarea class="form-control" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" style="font-family:Roboto, sans-serif;" placeholder="Breve descripción" name="descripcion" title="Descripción">{{ old('descripcion') }}</textarea></div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 col-xl-5 offset-md-1 text-center">
                                <p class="text-center" id="form_div_p" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Categoría<br></p>
                            </div>
                            <div class="col-md-10 offset-md-1"><select class="form-select form-select-lg" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" name="categoria" value="{{ category->nombre }}" title="Categoria">
                                    <optgroup label="Selecciona una categoria"></optgroup>
                                </select></div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-8 col-xl-5 offset-md-1 text-center">
                                <p id="form_div_p" style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Subir Foto<br></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <div class="input-group">
                                    <div class="input-group-prepend"></div>
                                    <div class="custom-file"><label class="form-label custom-file-label" for="inputGroupFile03">Seleccionar Archivo<br></label></div>
                                </div>
                                <div class="files color form-group mb-3"><input class="form-control" type="file" name="file"></div>
                            </div>
                        </div>
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-12 col-md-4 offset-md-4 text-center"><button class="btn btn-outline-danger btn-lg active" style="font-family:Roboto, sans-serif;" type="reset">Reset</button><button class="btn btn-primary btn-lg active text-center" style="margin-left:16px;" type="submit">Guardar</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>
    <script src="assets/js/MUSA_carousel-extended.js"></script>
    <script src="assets/js/Parallax-Scrolling-Horizontal-plus-Vertical.js"></script>
</body>

</html>