@media (min-width: 300px) {
  #mascota {
    width: 300px;
  }
}

@media (min-width: 576px) {
  #mascota {
    width: 578px;
  }
}

@media (min-width: 768px) {
  #mascota {
    width: 768px;
  }
}

#mascota {
  width: 300px;
}

#mascota {
  width: 300px;
}

#mascota {
  width: 300px;
}

