@media (min-width: 300px) {
  #container_form {
    color: var(--bs-white);
    background: url("../../assets/img/314932241_3575335546035850_3573432191079918083_n.jpg") center / cover repeat, var(--bs-yellow);
    box-shadow: inset 2px 2px;
  }
}

@media (min-width: 576px) {
  #container_form {
    color: var(--bs-dark);
    background: var(--bs-blue);
    box-shadow: inset 2px 2px;
  }
}

@media (min-width: 768px) {
  #container_form {
    color: var(--bs-light);
    background: var(--bs-danger);
    box-shadow: inset 2px 2px;
  }
}

@media (min-width: 992px) {
  #container_form {
    color: var(--bs-light);
    background: var(--bs-dark);
    box-shadow: inset 2px 2px;
  }
}

#btn_form {
  background: var(--bs-blue);
  color: var(--bs-white);
}

#btn_form-1 {
}

